@font-face {font-family: 'hecsh_0';
    src: url('../fonts/hecsh_0.ttf') format('TrueType');
}
@font-face {font-family: 'Outfit-VariableFont_wght';
    src: url('../fonts/Outfit-VariableFont_wght.ttf') format('TrueType');
}
@font-face {font-family: 'Pronave';
    src: url('../fonts/Pronave.otf') format('OpenType');
}
/*---------------------HEADER BARRES SUPERIEURES-------------------------*/
.telheader, .menuhamb {                             /* ELEMENTS SMARTPHONES CACHES */
    display: none;
    padding: 5px;
}
.bartel {                                          /* BARRE DE TELEPHONE AU DESSUS DU MENU */
    background-color: #b784a7;
    color : white;
    text-align: center;
    padding: 7px;
    font-family: 'hecsh_0', Helvetica, sans-serif;
    letter-spacing: 3px;
}
.gras{
    font-weight: 1000;
    font-size: 16px;
    letter-spacing: 2px;
}
.barsup {                                           /* BARRE DE MENU SUPERIEURE */
    display: flex;
    justify-content: space-around;    
}
/******************* ELEMENTS DE BARSUP DEBUT ********************/
/* LOGO */
.logo {
    width: 150px;
    margin: auto;
}
.logosup{
    display: flex;
    align-items:center;
}
/* MENU */ 
.menusup{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav{
    display: inline-block;
    padding: 20px;
}
.nav a {
    color: rgb(41, 41, 41);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    font-family: 'hecsh_0', Helvetica, sans-serif;
}
.nav a:hover {
    color: #357cae;
    cursor: pointer;
}
/* LOGIN ESPACE CLIENT */
.login{
    display: flex;
    align-items: center;
    justify-content: center;
}
.login a {
    border: 1px solid #b784a7;
    padding: 10px 20px;
    color: rgba(41, 41, 41);
    color: #357cae;
    font-weight: 500;
    font-style: italic;
    border-radius: 30px;
    transition: 300ms ease-in-out;
    margin-right: 20px;
    font-family: 'Outfit-VariableFont_wght', Helvetica, sans-serif;
    letter-spacing: 2px;
    font-size: 13px;
    cursor: pointer;
}
.login a:hover {
    background-color: #5e91b5;
    border: none;
    padding: 10px 20px;
    color: #f8f5f7;
    border-radius: 20px;
    transition: 300ms ease-in-out;
}
/******************* ELEMENTS DE BARSUP FIN ********************/

/******************* DESIGN TABLETTES ET SMARTPHONES ***********/

@media screen and (max-width: 840px) {
    .menusup, .bartel {
        display:none;
    }
    .telheader, .menuhamb {
        display: flex;
    }
} 
.telheader {
    order:0;
}
.menuhamb {
    order:2;
}
.fa-bars{
    color: #357cae;
    font-size: 30px; 
    margin-top: 30%;
}
.troisbarres{
    display: flex;
    justify-content: center;
    align-items: center;
}
.telheader a{
    /* text-align: center; */
    border-radius: 25px;
    color: white;
    background-color: #357cae;
    padding: 10px 15px;
    margin: auto;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 16px;
    font-family: 'hecsh_0', Helvetica, sans-serif;
    letter-spacing: 1px;
}
/* MENU HAMBURGER */
.hamburger {
    display:flex;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    left: -800px;
    /* left : 60%; */
}
.navhamb{
    background-color: #357cae; ;
    padding: 12px 30px 0px 30px;   
}
.navhambfin{
    padding-bottom: 12px;
}
.navhamb a {
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    font-family: 'hecsh_0', Helvetica, sans-serif;
}
.navhamb a:hover{
    color:black;
}
@media screen and (max-width: 540px) {
    .login-hamb {
        display: block;
    }
    .telheader a{  
        font-size: 13px;
        padding: 7px 12px;
        margin-left: -15%;
    }
    .fa-bars{   
        font-size: 35px; 
        margin-top: 0;
    }
    .login {
        display: none;    
    }
} 
/*---------------------HEADER MAIN HEADER-------------------------*/